@import "base.scss";
.feature {
    display: flex;
    width: 264px;
    padding: 10px 17px;
    flex-direction: column;
    align-items: flex-start;
}

.card-icon {
    width: 50px;
    height: 50px;
}

.card-title {
    @include font(18px, 600, $black);
    margin: 12px 0;
}

.card-description {
    @include font(16px, 400, $black);
    width: 200px;
    text-align: start;
}

.learnMore-container {
    display: flex;
    align-items: center;
    margin-top: 12px;
    cursor: pointer;
    .learnMore-textContainer {
        @include font(16px, 600, $primary);
    }
}
