@import "base.scss";

.header {
    width: 100%;
    height: 100%;
    background-color: $lightPrimary;
    &__container {
        @include display(row, null, center);
        max-width: 1190px;
        margin: 80px auto;
        background-image: url("../svg/hero-image.svg");
        background-repeat: no-repeat;
        height: 479px;
        background-position: 125%;
        &--text {
            @include display(column, null, flex-start);
            width: 639px;
        }
        &--title {
            @include font(48px, 800, $black);
            margin-bottom: 24px;
        }
        &--subtitle {
            @include font(16px, 400, $gray700);
            margin-bottom: 24px;
            width: 551px;
            text-align: start;
        }
        &--purple {
            color: $primary;
            text-decoration: none
        }
    }
}
