@import "base.scss";

.container2 {
    @include display(column, space-between, center);
    height: 85vh;
}

.containerdetails {
    padding: 32px 40px;
    width: 418px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.spacer {
    height: 14px;
}

.logo1 {
    margin: 50px 50px 0 50px;
}

.title {
    @include font(24px, 700, $black);
}

.subtitle {
    @include font(16px, 400, $gray200);
    margin-top: 8px;
    margin-bottom: 16px;
}

.signup1 {
    @include font(16px, 400, $gray200);
    margin-top: 16px;
}

.signuplink {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
}

.resetfooter {
    width: 100%;
    max-width: 655px;
    @include display(row, space-between, center);
    margin-bottom: 20px;
}
.heading2 {
    @include font(24px, 700, $black);
}
.container5 {
    margin-top: 32px;
}
.resetpop2 {
    display: flex;
    align-items: center;
    flex-direction: column;  
}
.resetcancel1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.resetpoptext1 {
    @include font(24px, 500, $black);
    margin: 22px;
}
.resetpoptext2 {
    @include font(16px, 400, $black);
    text-align: center;
    margin-bottom: 24px;
}
.btntext {
    @include font(16px, 500, $white);
}

