.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--grey-100, #F2F4F7);
    width: 100%;

    .testimony-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 60px;
    }
    
}